branch_closed.png filter=lfs diff=lfs merge=lfs -text
left_arrow_disabled.png filter=lfs diff=lfs merge=lfs -text
up_arrow.png filter=lfs diff=lfs merge=lfs -text
checkbox_indeterminate_disabled.png filter=lfs diff=lfs merge=lfs -text
close-hover.png filter=lfs diff=lfs merge=lfs -text
down_arrow_disabled.png filter=lfs diff=lfs merge=lfs -text
sizegrip.png filter=lfs diff=lfs merge=lfs -text
branch_open.png filter=lfs diff=lfs merge=lfs -text
checkbox_checked_disabled.png filter=lfs diff=lfs merge=lfs -text
checkbox_unchecked.png filter=lfs diff=lfs merge=lfs -text
down_arrow.png filter=lfs diff=lfs merge=lfs -text
Hsepartoolbar.png filter=lfs diff=lfs merge=lfs -text
stylesheet-vline.png filter=lfs diff=lfs merge=lfs -text
Vsepartoolbar.png filter=lfs diff=lfs merge=lfs -text
close.png filter=lfs diff=lfs merge=lfs -text
radio_checked_disabled.png filter=lfs diff=lfs merge=lfs -text
radio_checked.png filter=lfs diff=lfs merge=lfs -text
checkbox_indeterminate_focus.png filter=lfs diff=lfs merge=lfs -text
checkbox_unchecked_disabled.png filter=lfs diff=lfs merge=lfs -text
checkbox_unchecked_focus.png filter=lfs diff=lfs merge=lfs -text
radio_unchecked_focus.png filter=lfs diff=lfs merge=lfs -text
undock.png filter=lfs diff=lfs merge=lfs -text
Vmovetoolbar.png filter=lfs diff=lfs merge=lfs -text
branch_open-on.png filter=lfs diff=lfs merge=lfs -text
checkbox_checked_focus.png filter=lfs diff=lfs merge=lfs -text
close-pressed.png filter=lfs diff=lfs merge=lfs -text
Hmovetoolbar.png filter=lfs diff=lfs merge=lfs -text
left_arrow.png filter=lfs diff=lfs merge=lfs -text
radio_unchecked_disabled.png filter=lfs diff=lfs merge=lfs -text
right_arrow_disabled.png filter=lfs diff=lfs merge=lfs -text
right_arrow.png filter=lfs diff=lfs merge=lfs -text
stylesheet-branch-end.png filter=lfs diff=lfs merge=lfs -text
branch_closed-on.png filter=lfs diff=lfs merge=lfs -text
checkbox_checked.png filter=lfs diff=lfs merge=lfs -text
checkbox_indeterminate.png filter=lfs diff=lfs merge=lfs -text
radio_checked_focus.png filter=lfs diff=lfs merge=lfs -text
radio_unchecked.png filter=lfs diff=lfs merge=lfs -text
stylesheet-branch-more.png filter=lfs diff=lfs merge=lfs -text
transparent.png filter=lfs diff=lfs merge=lfs -text
up_arrow_disabled.png filter=lfs diff=lfs merge=lfs -text
